<div class="bg-gray-700">

    <div class="max-w-7xl mx-auto flex">
        <div class="hover:bg-gray-800 px-3 py-1.5 sm:hidden rounded mx-2 my-5 absolute">
            <button (click)="collapse()">
                <i class="pi pi-bars" style="font-size: 1rem;color:rgb(247, 247, 247)"></i>
            </button>

        </div>
        <div class="my-5 flex mx-auto sm:mx-10 lg:mx-4">
            <i class="pi pi-prime mx-4" style="font-size: 2.5rem;color:rgb(247, 247, 247)"></i>
            <div class="font-bold text-4xl text-gray-100 sm:block hidden">NAPHAT</div>
        </div>
    </div>
</div>