<!-- <p>dashboard works!</p> -->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">

    <div class="py-4 px-3 bg-blue-200 rounded flex justify-between">
        <div class="text-gray-700 mx-2">
            <p class="font-bold">Message</p>
            <p class="text-sm ">24 new since last visit</p>
        </div>
        <div class="my-auto mr-2">
            <i class="pi pi-comments " style="font-size: 2rem;color: rgb(75 85 99); "></i>
        </div>
    </div>

    <div class="py-4 px-3 bg-amber-200 rounded flex justify-between">
        <div class="text-gray-700 mx-2">
            <p class="font-bold ">Logins</p>
            <p class="text-sm ">48 new since last visit</p>
        </div>
        <div class="my-auto mr-2">
            <i class="pi pi-sign-in " style="font-size: 2rem;color: rgb(75 85 99); "></i>
        </div>
    </div>

    <div class="py-4 px-3 bg-emerald-200 rounded flex justify-between">
        <div class="text-gray-700 mx-2">
            <p class="font-bold ">Files Synced</p>
            <p class="text-sm ">163,02 / 240 GB</p>
        </div>
        <div class="my-auto mr-2">
            <i class="pi pi-folder " style="font-size: 2rem;color: rgb(75 85 99); "></i>
        </div>
    </div>

    <div class="py-4 px-3 bg-rose-200 rounded flex justify-between">
        <div class="text-gray-700 mx-2">
            <p class="font-bold ">Users Online</p>
            <p class="text-sm ">72 new user this week</p>
        </div>
        <div class="my-auto mr-2">
            <i class="pi pi-globe " style="font-size: 2rem;color: rgb(75 85 99); "></i>
        </div>
    </div>

</div>